/* Tag Selectors */

body{
    background-image: url(bgimg.jpg) ;
    
    /* Fitting image into backgroind */
    /* Soln 1 
     background-size: 100vw 100vh;
    background-repeat: no-repeat; */

    /* Soln 2*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}



/* Class selectors */

.inputfld{
 /* text-align: left;    */
 /* align-items: center; */
 width: 100%;
 margin: 3px;
}


.signincontainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-registerpage{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-forgetpage{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary{
    width: 100%;
}
.newcontainer{
    display: flex;
    flex-direction: column;
}